<!DOCTYPE html>
<html>
<head>
  <title>BitbucketTest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h2>Hello World!</h2>
  <h1>Hello</h1>
  <h3>Hello 3</h3>
  <style>
    h2{
      font-size: 32px;
    }
  </style>
<%= yield %>

</body>
</html>
